@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('Open-Sans-Italic'),
    url('../assets/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
    url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
    url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas';
  font-weight: 400;
  src: local('Bebas'), local('Bebas'),
    url('../assets/fonts/BEBAS___-webfont.ttf') format('truetype');
}

html {
  /* min-width:100%; */
  /* height:auto; */
  /* position:relative; */
  /* margin:0; */
  /* padding:0; */
}

body {
  font: 11pt 'Open Sans';
  color: rgb(200, 200, 200);
  margin: 0;
  padding: 0;
}

a {
  color: orange;
  text-decoration: none;
  border-bottom:0px solid white;
  -webkit-transition:all .3s ease;
}

a:hover {
  text-decoration: none;
  border-bottom:5px solid orange;
}

#main-container {
  margin: 0;
  min-width:100%;
  position: relative;
}

#gallery {
  width: 100%;
  height:100%;
  border: 2px solid rgba(25, 25, 25, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .9);
  margin:0;
  overflow: hidden;
  position: relative;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-ouin-out;
  -webkit-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
}
img{
  width:100%;
  display:block;
  position:center;
  margin:0 0;
  padding:0;
  left:0;
  right:0;
}
#gallery .title {
  text-shadow: rgba(0,0,0, 0.9) 0.05em 0.05em 0.05em;
  font-family: 'Bebas';
  font-size: 15em;
  position: absolute;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  z-index: 20;
}

#gallery .slide {
  width:100%;
  background-size: cover;
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
}

#slide-container {
  width:100%;
  position: relative;
}

#gallery .slide {
  background: #000;
}

.top-bg {
    background: url('assets/loop.gif') no-repeat center;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
    /* min-width: 100%; */
    /* height: auto; */
    /* position: relative; */
    /* z-index: 17; */
}
.middle-bg {
    background: url("assets/loop2.gif"); background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    min-width: 100%; 
    height: auto; 
    position: relative;
    margin-top: 25%;
}
#credits {
    background: url("assets/loop4.gif"); background-repeat: no-repeat; background-position: center; background-size: cover; min-width: 100%; height: auto; position: relative;
    height: 100%;
    padding-top: 15em;
}
#gallery .slide img {
  min-width: 100%;
  position: absolute;
}

#gallery .slide video {
  height: auto;
}

.slideable {
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-ouin-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

#play-button {
  display: block;
  width: 30%;
  height: 15%;
  margin: auto auto;
  text-align: center;
  cursor: pointer;
  line-height: 100px;
  padding: 1%;
  color: #eeeeee;
  font-family: 'Bebas';
  background:orange;
  text-decoration: none;
  font-size:5em;
  -webkit-transition:all .15s ease;
}

#play-button:hover {
  background: whitesmoke;
  color:orange;
  -webkit-font-smoothing:antialiased;
  box-shadow:1px 1px 15px rgba(0,0,0,.5);
}

.section .title {
  font-size: 4em;
  color:white;
  text-shadow: rgba(0,0,0,1) 0em 0.05em 0.1em;
  padding-top:1em;
  letter-spacing:3px;
  font-family: 'Bebas';
}

.section {
  /* margin: 4em auto; */
  box-shadow: 5px 0px 5px rgba(0, 0, 0, .8);
}

.section p, .section ul {
  width:100%;
  margin:auto;
  position:relative;
  text-align:center;
}

.section .more-button {
  float: right;
  font-size: 1.1em;
}

#slide-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4em;
  padding-left: 0;
}

#slide-counter .slide-counter-node {
  border-radius: 0px;
  width: 4em;
  height: 2em;
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  cursor: pointer;
  background: transparent;
  transition: background 0.5s;
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
}

#slide-counter .slide-counter-node:hover {
  background: rgba(255, 255, 255, .6);
}

#slide-counter .slide-counter-node.on {
  background: orange;
}

#credits .role {
  font-size: 1.5em;
  margin-left: auto;
  margin-top: auto;
  width:100%;
  text-align:center;
}

#credits .name {
  font-family: 'Bebas';
  font-size: 2em;
  margin:auto;
}

#credits .sub-name {
  font-family: 'Open Sans';
  font-size: 0.5em;
}

.demo-title {
  text-shadow: rgba(25, 25, 25, 0.9) 0.1em 0.1em 0.1em;
  font-family: 'Bebas';
  font-size: 3.4em;
}

.progress-area {
  box-shadow: none;
}

canvas.paused {
  opacity: 0.4;
}

.status {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 600px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.status-content {
  width: 960px;  /* Disabling these is a partial workaround for */
  height: 600px; /*https://code.google.com/p/chromium/issues/detail?id=147609 */
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.hide {
  display: none;
}

.status .resolution-message {
  margin-top: 140px;
  margin-bottom: 30px;
}

.status .fullscreen-button {
  display: inline-block;
  width: 300px;
  height: 200px;
  box-shadow: 0 2px 10px rgba(25, 25, 25, 0.9);
  line-height: 200px;
  cursor: pointer;
  font-family: 'Bebas';
  background: rgb(206,220,231); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
  margin-bottom: 2em;
}

.status-content.ingame {
  z-index: 30;
  margin-top: 200px;
}

.status .loading .preview {
  width: 100%;
  height: 100%;
}

.status .loading .progress-container {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.status .loading .progress-container.hide {
  display: none;
}

.status .loading {
  position: relative;
}

.status .loading progress {
  display: block;
  width: 600px;
  margin: 10px auto;
  z-index: 2;
}

.level-title {
  text-shadow: rgba(25, 25, 25, 1.0) 0.1em 0.1em 0.1em;
  position: absolute;
  text-align: right;
  font-family: 'Bebas';
  font-size: 1.8em;
  top: 0;
  right: 20px;
}

.level-title span {
  font-size: 2.0em;
  margin-left: 10px;
  position: relative;
  top: 0.2em;
}

.preview-content {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  background-size: cover;
}

.preview-content.show {
  display: block;
}

.preview-content::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 10%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0) 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(10%,rgba(0,0,0,0.8)), color-stop(30%,rgba(0,0,0,0.2)), color-stop(60%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0) 60%);
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0) 60%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0) 60%);
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0.2) 30%,rgba(0,0,0,0) 60%);
  background-position: 5% 5%;
  background-size: 110% 110%;
}

.preview-content.low {
  background-image: url('../assets/screenshots/22.jpg');
}

.preview-content.medium {
  background-image: url('../assets/screenshots/02.jpg');
}

.preview-content.high {
  background-image: url('../assets/screenshots/14.jpg');
}

.preview-content.four {
  background-image: url('../assets/screenshots/03.jpg');
}

.preview-content.five {
  background-image: url('../assets/screenshots/07.jpg');
}

.preview-content.six {
  background-image: url('../assets/screenshots/six.jpg');
}

.preview-content.seven {
  background-image: url('../assets/screenshots/seven.jpg');
}

.preview-content.eight {
  background-image: url('../assets/screenshots/eight.jpg');
}

.preview-content.nine {
  background-image: url('../assets/screenshots/nine.jpg');
}

.preview-content.ten {
  background-image: url('../assets/screenshots/ten.jpg');
}

.preview-content .description {
  color: rgb(240, 240, 240);
  text-shadow: rgba(0, 0, 0, 1.0) 2px 2px 2px, rgba(0, 0, 0, 1.0) 2px 2px 2px;
  font-size: 18pt;
  width: 550px;
  position: absolute;
  top: 5em;
  right: 20px;
  text-align: left;
  padding-top: 10px;
}

.status-content.error {
  z-index: 50;
  background: rgba(20, 20, 20, 0.9);
}

.status-content.error .title {
  font-family: 'Bebas';
  font-size: 7em;
}

.status-content.error p a {
  font-weight: bold;
}
