@font-face {
    font-family: 'league_spartan';
    src: url('../public/fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('../public/fonts/leaguespartan-bold-webfont.woff') format('woff'),
         url('../public/fonts/leaguespartan-bold-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'phantasm';
    src: url('../public/fonts/phantasmallcaps-webfont.woff2') format('woff2'),
         url('../public/fonts/phantasmallcaps-webfont.woff') format('woff'),
         url('../public/fonts/phantasmallcaps-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
